body {
  background-color: #EAF6F6;


}

hr {
  text-align: center;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

.hobbies{
  background-position: center;
}
